spring:
  application:
    name: demo
  cloud:
    vault:
      uri: http://127.0.0.1:8200
      token:
      scheme: http
      kv:
        enabled: true
        backend: secret
        default-context: application